body {
	color: #333333;
  	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  	width: 940px;
  	margin: 0 auto;
}

#container {
	position: relative;
  	margin: 0 auto;
  	height: 100px;
}

#sacola {
  	background: url(../img/sacola.jpg) no-repeat top right;
  	font-size: 14px;
  	padding-right: 35px;
  	text-align: right;
  	width: 180px;
  	position: absolute;
  	top: 0;
  	right: 0;
}

#menu-opcoes ul li {
  	display: inline;
  	margin-left: 20px;
  	font-size: 15px;
}

#menu-opcoes a {
   	color: #003366;
}

#menu-opcoes {
  	position: absolute;
  	bottom: 0;
  	right: 0;
}

#banner {
  	margin: 0 auto;
}

#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    height:34px;
}
 
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;  
    font-size:18px;
    border:none;
    height:32px;
    width:835px;
}
 
#btnBusca{
    border:none;
    float:right;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
}
 
#divBusca img{
    float:left;
}

#menu{
  width: 200px;
  padding-top: 5px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #5F9EA0;
}